header {
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
}

main {
    width: 80%;
    height: 600px;
}

.boczny {
    background-color: coral;
    width: 20%;
    height: 680px;
}

footer {
    background-color: tomato;
    color: white;
    text-align: center;
}

img {
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}

#jolanta {
    background-color: #EEE;

}

#krzysztof {
    background-color: #CCC;
    text-align: right;
}

button {
    background-color: tomato;
    border: 1px solid darkred;
    padding: 5px;
    text-decoration: bold;
}

#npunkt {
    list-style-type: none;
}